<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p></p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-c-line-wordmark"></i>
      <i class="devicon-javascript-plain"></i>
      <p></p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-github-plain"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p></p>
    </div>
  </div>
</div>
