<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="IIT Mobile" src="{{ "/assets/img/IIT LOGO.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> IIT Mobile </h5>
      <li> In t</li>
      <p></p>
      <a class="project-link" href="https://github.com/szeinali/IIT-Mobile">Github Link</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="IEEE" src="{{ "/assets/img/ieee.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>IEEE Robo Sports</h5>
      <h7> A Competition for IEEE's IIT Chapter. My Friend and I assembled a team in this competition that lasted for 24 hours. </li>
      <p></p>
      <a class="project-link" href="https://github.com/szeinali/RoboSports">Github Link</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="features" src="{{ "/assets/img/features.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Machine Learning Project </h5>
      <ul>
        <h7>Implemented a regression model for predicting movie box office gross using machine learning. 
          The model analyzed more than 5000 movies and 
         it focused on features relevant to movies’ gross. 
          The language that it has been executed in 
          was Python and the Python libraries used were SciPy, NumPy, scikit-learn, and Pandas</li>
      </ul>
      <p></p>
      <a class="project-link" href="https://github.com/szeinali/ML-Project">Github Link</a>
    </div>
  </div>
</div>
